@-ms-viewport {
  width: device-width; }
body {
    min-width: inherit;
    min-height: inherit;
        }

@media screen and (max-width: 720px) 
{

    html, body 
    {
    min-width: 320px; 
    } 
}
html 
    {
    box-sizing: border-box; 
    }

*, *:before, *:after {
  box-sizing: inherit; }

body {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), 
                radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    color: #FFFFFF;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

h3 {
    font-size: 1.3rem;
}

/*------------------------------------Load Screen-------------------------*/ 
    .thumb {
        height: 300px;
        border: 1px solid black;
        margin: 10px;
        align-self: center ;
    }
    
    .loader {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;    
        background-color: black;
        transform-origin: center ;
    }
    
    .loader.hidden {
        animation: fadeout 1s;
        animation-fill-mode: forwards;
    }
    
    @keyframes fadeout {
        100% {
            opacity: 0s;
            visibility: hidden;
        }
    }

.tm-site-logo {
    width: auto;
    height: auto;
    border: 1px white;
    transform: rotate(0deg);
    display: inline-block;
    vertical-align: middle;
}

.tm-site-title {
    padding-right: 0px;
    padding-left: 40px;
    display: inline-block;
    vertical-align: middle;
}

.tm-site-header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

#tm-video-loader {
    border: 50px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    
.tm-video-container {
    position: relative;
    margin:auto;
    box-shadow:
                0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);
    max-width: 1000px;
    max-height: 563px;
    border: 500px white;
}

.tm-video-text {
    background: -webkit-linear-gradient( white -20%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:inherit;
    vertical-align: middle;
    margin-bottom: 70px;
    margin-left: 450px;
    text-align: center;
    align-self: center;
    display: inline-block;
    font-size: 2rem;
}

.tm-welcome-video {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 100;
    background-color: black;
    background-size:contain;
    transition: 1s opacity;
}

.tm-video-text-overlay {
    position: absolute;
    left: 300px;
    bottom: 30px;
}
.tm-video-text-overlay h1 {
	font-size: 3.4rem;
}
.tm-welcome-text {
    border-radius: 1500px 200px ;
    background: linear-gradient(to right, #009865,#006634);
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px green;
    margin-top: 65px;
    vertical-align: middle;
    margin-bottom: 65px;
    object-position: center;
    font-size: 5rem;
    text-align-last: center;
}

.tm-font-400 {
    font-weight: 400;
}

.tm-text-light-gray {
    color: #CDCDCD;
}

.tm-text-gray {
    color: #CCCCCC;
}

.tm-text-white {
    color: #FFFFFF;
}

a.tm-text-white:hover,
a.tm-text-white:focus {
    color: #FFFFFF;
}

.tm-text-green {
    color: #99CC66;
}

.tm-text-cyan {
    color: #33CCCC;
}

.tm-text-yellow {
    color: #FFFF66;
}

.tm-text-orange {
    color: #CC9966;
}

.tm-bg-dark {
    background-color: #262626;
}

.tm-bg-dark-light {
    background-color: #404040;
}

hr {
    border-color: #666666;
    max-width: 70%;
}

.tm-video-iframe {
    height: auto;
}

.tm-timeline-item {
    margin-left: 70px;
}

.tm-timeline-item-inner {
    display: flex;
    align-items: center;
}

.tm-img-timeline {
    -webkit-box-shadow: -13px 13px 29px -1px rgba(0,0,0,0.64);
-moz-box-shadow: -13px 13px 29px -1px rgba(0,0,0,0.64);
box-shadow: -13px 13px 29px -1px rgba(0,0,0,0.64);
    width: 180px;
    height: 180px;
    display: inline-block;
    vertical-align: middle;
}

.tm-timeline-connector {
    width: 55px;
    height: 3px;
    background-color: white;
}

.tm-timeline-connector-vertical {
    height: 60px;
    width: 3px;
    background-color: darkblue;
    margin-left: 260px;
}

.tm-timeline-description {
    -webkit-box-shadow: -13px 13px 29px -1px rgba(0,0,0,0.64);
-moz-box-shadow: -13px 13px 29px -1px rgba(0,0,0,0.64);
box-shadow: -13px 13px 29px -1px rgba(0,0,0,0.64);
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 35px 40px;
    max-width: 712px;
}

.tm-section-mb {
    margin-bottom: 85px;
}

.tm-section-mt {
    margin-top: 85px;
    margin: auto;
}

.tm-contact-form {
    max-width: 500px;
}

.form-control {
    border-radius: 0;
    border-color: #666666;
	color: #CCC;
    background: transparent;
    padding: 12px 15px;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CCCCCC;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #DDDDDD;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #DDDDDD;
}

iframe {
    max-width: 100%;
}

#google-map {
    max-width: 500px;
    width: 100%;
    height: 300px;
}

.tm-btn-send {
    border-radius: 0;
    font-size: 1.1rem;
    padding: 12px 50px;
    background: transparent;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
}

.tm-btn-send:hover,
.tm-btn-send:focus {
    background: #CCCCCC;
    color: #333333;
}

.form-control:focus {
    background-color: transparent;
    border-color: #CCCCCC;
	color: #FFF;
    box-shadow: 0 0 0 0.2rem #cccccc14;
}

input,
textarea,
[contenteditable] {
    caret-color: #FFFFFF;
}

p {
    line-height: 3;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1310px;
    }
    .tm-container-2 {
        max-width: 1170px;
    }
}

@media (max-width: 1199px) {
    .tm-video-container {
        max-width: 932px;
        max-height: 466px;
    }
    .tm-video-text-overlay {
        left: 60%;
    }
}

@media (max-width: 991px) {
    #google-map,
    .tm-contact-form {
        max-width: 100%;
    }
    .google-map-iframe {
        width: 100%;
    }
    .tm-video-container {
        max-width: 690px;
        max-height: 345px;
    }
    .tm-video-text-overlay {
        left: 45%;
    }
	.tm-video-text-overlay h1 {
		font-size: 2.8rem;
	}
    .tm-timeline-item {
        margin-left: 25px;
    }
}

@media (max-width: 767px) {
    .tm-timeline-item {
        margin-left: 0;
    }
    .tm-video-container {
        max-width: 510px;
        max-height: 255px;
    }
    .tm-video-container,
    .tm-welcome-video {
        min-height: 220px;
    }
    .tm-video-text-overlay {
        left: 25%;
    }
}

@media (max-width: 584px) {
    .tm-timeline-item-inner {
        flex-direction: column;
    }
    .tm-timeline-connector {
        width: 3px;
        height: 55px;
    }
    .tm-timeline-connector-vertical {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 540px;
    }
    .tm-video-text-overlay {
        left: 30%;
    }
    .tm-video-text-overlay h1 {
        font-size: 1.8rem;
    }
}


@media (max-width: 480px) {
    .tm-video-container {
        overflow-x: hidden;
    }
    .tm-welcome-video {
        min-width: auto;
        max-width: 125%;
    }
}
